<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="circle"></div>
    <!-- <h1>
        <%= title %>
    </h1>
    <% if (data) { %>
        <ul>
            <% data.forEach(item=> { %>
                <li>
                    <%= item %>
                </li>
                <% }) %>
        </ul>
        <% } else { %>
            <p>Aucune donnée à afficher.</p>
            <% } %> -->
    <div class="header">
        <h1>
            <%= title %>
        </h1>
    </div>
    <div class="mainBody">
        <div class="mainBodyHeader">
            <p>Sort by - Date</p>
            <p>Compagnies - All</p>
            <p>Country - USA</p>
        </div>
    </div>
</body>

</html>